// Variaveis
$verde: #00ff08;
$branco : #ffffff;

// Padrões
@mixin btn-model-1 {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: $verde;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

@mixin btn-hover {
    box-shadow: 0px 0px 8px $verde;
    transform: scale(1.05);
    transition: .2s;
}

@mixin titulo-sections {
    color: $branco;
    font-size: 38px;
    text-align: center;

    span{
        color: $verde;
    }
}

// Geral
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

button:hover{
    @include btn-hover()
}

h2.titulo{
    @include titulo-sections();
}

// Cabeçalho
header {
    padding: 40px 4%;

    .interface {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    a {
        color: #a2a2a2;
        text-decoration: none;
        display: inline-block;
        transition: .2s;
    }

    a:hover {
        color: $branco;
        transform: scale(1.05);
    }

    nav {
        ul {
            list-style-type: none;
        }

        li {
            display: inline-block;
            padding: 0 40px;
        }
    }

    .btn-contato {
        button {
            @include btn-model-1();
        }

    }
}

// Topo do Site
.topo-site {
    padding: 40px 4%;

    .flex {
        align-items: center;
        justify-content: center;
        gap: 90px;
    }

    .txt-topo-site {
        h1 {
            font-size: 38px;
            color: $branco;
            line-height: 40px;

            span {
                color: $verde;
                font-size: 50px;
            }
        }

        p {
            color: $branco;
            margin: 40px 0px;
        }

        button {
            @include btn-model-1()
        }

    }

    .img-topo-site {
        img {
            position: relative;
            animation: flutuar 2s ease-in-out infinite alternate;
        }
    }
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px
    }
}

// Especialidades
.especialidades {

    .flex {
        gap: 60px;
    }

    .especialidades-box {
        padding: 40px;
        color: $branco;
        margin-top: 45px;
        border-radius: 20px;
        transition: .2s;

        i {
            font-size: 70px;
            color: $verde;
        }

        h3 {
            font-size: 28px;
            margin: 15px 0;
        }
    }

    .especialidades-box:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px #ffffff79;
    }


}

// Sobre
.sobre {
    padding: 80px 4%;

    .flex {
        align-items: center;
        gap: 60px;
    }

    .txt-sobre {
        color: $branco;

        h2 {
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 30px;

            span {
                display: block;
            }
        }

        p {
            margin: 30px 0;
            text-align: justify;
        }

        .btn-social{
            button{
                width: 60px;
                height: 60px;
                border: none;
                border-radius:30px;
                background-color: $verde;
                font-size: 28px;
                cursor: pointer;
                margin:5px 5px ;
                transition: .2s;
            }
        }
    }
}

// Portifolio
.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff17;

    .flex{
        justify-content: space-around;
        margin-top: 60px;
    }

    .img-port{
        width: 360px;
        height: 460px;
        background-color: $verde;
        background-image: url(../imgs/projetoConversor.png);
        background-size: cover;
        background-position: 100% 0%;
        transition: 8s;
        cursor: pointer;
        border-radius: 40px;
        position:relative;

        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000000ae;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-weight: 600;
            color:$branco;
            opacity: 0;
            transition: .5s;
        }
    }

    .img-port:hover{
        background-position: 100% 100%;

        .overlay{
            opacity: 1;
        }
    }

    
}