// Variaveis
$azul: #179EE2;
$preto: #131313;
$cinza: #151515bd;
$branco : #ffffff;

// Padrões
@mixin btn-model-1 {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: $azul;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

@mixin btn-hover {
    box-shadow: 0px 0px 8px $azul;
    transform: scale(1.05);
    transition: .2s;
}

@mixin titulo-sections {
    color: $branco;
    font-size: 38px;
    text-align: center;

    span {
        color: $azul ;
    }
}

@mixin btn-redes-sociais {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: $azul;
    font-size: 28px;
    cursor: pointer;
    margin: 5px 5px;
    transition: .2s;
}

// Geral
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: $preto;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

button:hover {
    @include btn-hover()
}

h2.titulo {
    @include titulo-sections();
}

.btn-social button {
    @include btn-redes-sociais();
}

// Cabeçalho
header {
    padding: 10px 4%;

    .interface {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    a {
        color: #a2a2a2;
        text-decoration: none;
        display: inline-block;
        transition: .2s;
    }
    nav{
        ul {
            list-style-type: none;
        }
    }

    nav.menu-desktop {
        ul{
            li {
                display: inline-block;
                padding: 0 40px;
            }
        }

        a:hover {
            color: $branco;
            transform: scale(1.05);
        }
    }

    .btn-contato {
        button {
            @include btn-model-1();
        }

    }
}

// Menu Mobile
.menu-mobile{
    background-color: $preto;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    overlay: hidden;

    .btn-fechar{
        padding: 15px 8%;
        i{
            color: $azul;
            font-size: 30px;
        }
    }

    nav{
        ul{
            text-align: right;

            li{
                a{
                    color: $branco;
                    font-size: 20px;
                    font-weight: 300;
                    padding: 20px 8%;
                    display: block;
                }

                a:hover{
                    background-color: $azul;
                }
            }
        }
    }

}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}

.btn-abrir-menu{
    display: none;
    i{
        color: $azul;
        font-size: 40px;
    }
}

.overlay-menu{
    background-color: $cinza;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}


// Topo do Site
.topo-site {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff17;

    .flex {
        align-items: center;
        justify-content: center;
        gap: 90px;
    }

    .txt-topo-site {
        h1 {
            font-size: 38px;
            color: $branco;
            line-height: 40px;

            span {
                color: $azul ;
                font-size: 50px;
            }
        }

        p {
            color: $branco;
            margin: 40px 0px;
        }

        button {
            @include btn-model-1()
        }

    }

    .img-topo-site {
        img {
            position: relative;
            animation: flutuar 2s ease-in-out infinite alternate;
        }
    }
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

// Especialidades
.especialidades {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff17;

    .flex {
        gap: 60px;
    }

    .especialidades-box {
        padding: 40px;
        color: $branco;
        margin-top: 45px;
        border-radius: 20px;
        transition: .2s;

        i {
            font-size: 70px;
            color: $azul ;
        }

        h3 {
            font-size: 28px;
            margin: 15px 0;
        }
    }

    .especialidades-box:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px #ffffff79;
    }


}

// Sobre
.sobre {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff17;

    .flex {
        align-items: center;
        gap: 60px;
    }

    .img-sobre img {
        border-radius: 25px;
    }

    .txt-sobre {
        color: $branco;

        h2 {
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 30px;

            span {
                display: block;
            }
        }

        p {
            margin: 30px 0;
            text-align: justify;
        }

    }
}

// Portifolio
.portifolio {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff17;

    .flex {
        justify-content: space-around;
        margin-top: 40px;
        gap: 30px;
    }

    .img-port {
        width: 360px;
        height: 460px;
        background-color: $azul ;
        background-image: url(../imgs/projetoConversor.png);
        background-size: cover;
        background-position: 100% 0%;
        transition: 8s;
        cursor: pointer;
        border-radius: 40px;
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $cinza;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-weight: 600;
            color: $branco;
            opacity: 0;
            transition: .5s;
        }
    }

    .img-port:hover {
        background-position: 100% 100%;

        .overlay {
            opacity: 1;
        }
    }


}

// Formulario
.formulario {
    padding: 80px 4%;

    form {
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 40px;

        input,
        textarea {
            width: 100%;
            background-color: #2a2a2a;
            border: 0;
            border-radius: 15px;
            outline: 0;
            padding: 20px 15px;
            color: $branco;
            font-size: 18px;
        }

        textarea {
            resize: none;
            max-height: 200px;
        }

        .btn-enviar {
            margin-top: 20px;
            text-align: center;

            input {
                width: 120px;
                background-color: $azul ;
                color: $branco;
                font-weight: 600;
                cursor: pointer;
                transition: .2s;
            }

            input:hover {
                @include btn-hover()
            }
        }

    }
}

// Footer
footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #2a2a2a;

    .flex {
        justify-content: space-between;
    }

    .borda {
        border-bottom: 2px solid $azul ;
    }

    .line-footer {
        padding: 20px 0;


        p {
            i {
                color: $azul ;
            }

            a {
                color: $branco;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

// Media Query
@media screen and (max-width: 1000px) {

    // Geral
    .flex {
        flex-direction: column;
    }

    h2.titulo{
        font-size: 28px;
        line-height: 40px;
    }

    // Cabeçalho
    .menu-desktop,.btn-contato {
        display: none;
    }

    .btn-abrir-menu{
        display: inline;
    }

    // Top do Site
    .topo-site {
        padding: 20px 8%;

        .flex {
            flex-direction: column-reverse;
            gap: 40px;
        }

        h1 {
            font-size: 30px;
        }

        .img-topo-site {
            img {
                width: 100%;
            }
        }


    }

    // Especialidades
    .especialidades {
        padding: 40px 8%;
    }

    // Sobre
    .sobre{
        padding: 80px 8%;

        .txt-sobre {
            h2 {
                font-size: 34px;
                line-height: 30px;
                text-align: center;
            }
        }

        .btn-social{
            text-align: center;
        }

        .img-sobre{
            img{
                width: 100%;
            }
        }

    }

    .portifolio{
        padding: 80px 8%;

        .flex{
            gap:50px;
        }

        .img-port{
            width: 100%;
            max-width: 360px;
            margin: 0 auto;
        }
    }

    // Rodape
    footer{
        .flex{
            flex-direction: column;
        }

        .line-footer{
            text-align: center;
        }
    }
}